<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<span class="title">Abhijeet Katte</span>
			
			<div class="vertical-menu">
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/PARVA">PARVA</a></li>
	        		<li><a href="/blog">Strong-Opinions-Weakly-Held (Blog)</a></li>
				
	    		</ul>
			</div>
			<div id="left">&nbsp;</div>
		
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			
	    		
			
		</body>
	</html>
